<!-- login.component.html -->

<div class="login">
    <form class="custom-form" method="post">
      <h3>Login</h3>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Usuario"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <div class="botones">
      <button type="submit" (click)="login()">Ingresar</button>
      <button type="submit" (click)="goBack()">Cancelar</button>
      
    </div>
    </form>
  </div>